{{- $lines := .lines -}}
{{- $position := .position | default "landing code lines" -}}
{{- if not (reflect.IsSlice $lines) }}{{ errorf "%s must be an array" $position }}{{ end -}}
{{- range $index, $line := $lines -}}
  {{- if not (reflect.IsMap $line) }}{{ errorf "%s line %d must be a map" $position (add $index 1) }}{{ end -}}
  {{- $class := strings.TrimSpace (printf "%v" ($line.class | default "")) -}}
  {{- if and $class (not (in (slice "k" "s" "v" "c" "ok" "p") $class)) }}{{ errorf "%s line %d has unsupported class %q" $position (add $index 1) $class }}{{ end -}}
  {{- if not (isset $line "text") }}{{ errorf "%s line %d requires text" $position (add $index 1) }}{{ end -}}
<span{{ with $class }} class="{{ . }}"{{ end }}>{{ $line.prefix }}</span>{{ $line.text }}{{ "\n" -}}
{{- end -}}
