{{ $context := .context -}}
{{ $taxo := .taxo -}}
{{ if (gt (len ($context.GetTerms $taxo)) 0) -}}
<div class="taxonomy td-taxonomy-terms-article taxo-{{ urlize $taxo }}" role="group" aria-label="{{ partial "taxonomy-label.html" (dict "page" $context "key" $taxo) }}">
  <ul class="td-taxonomy-terms">
    {{ range ($context.GetTerms $taxo) -}}
      <li><a class="td-badge td-badge--neutral td-badge--outline" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
    {{ end -}}
  </ul>
</div>
{{ end -}}
