{{ $context := . -}}
{{ if .Site.Params.taxonomy -}}
  {{ if .Site.Params.taxonomy.page_header -}}
    {{ range $index, $taxo := .Site.Params.taxonomy.page_header -}}
      {{ partial "taxonomy-terms-article.html" (dict "context" $context "taxo" $taxo) -}}
    {{ end }}
  {{ else -}}
    {{ range $taxo, $taxo_map := .Site.Taxonomies -}}
      {{ partial "taxonomy-terms-article.html" (dict "context" $context "taxo" $taxo) -}}
    {{ end }}
  {{ end -}}
{{ else -}}
  {{ range $taxo, $taxo_map := .Site.Taxonomies -}}
    {{ partial "taxonomy-terms-article.html" (dict "context" $context "taxo" $taxo) -}}
  {{ end }}
{{ end -}}
