{{- $featured := partial "featured-image-mode.html" . -}}
<div class="td-content">
		{{ if eq $featured "banner" }}{{ partial "featured-image-article.html" (dict "page" . "mode" $featured) }}
		{{ end }}{{ if eq $featured "wash" }}<div class="td-article-header td-article-header--wash">{{ partial "featured-image-article.html" (dict "page" . "mode" $featured) }}
		{{ end }}{{ partial "page-title.html" . }}
	{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
	<div class="td-byline mb-4">
		{{ with .Params.author }}{{ T "post_byline_by" }} <b>{{ . | markdownify }}</b> |{{ end}}
		<time datetime="{{  $.Date.Format "2006-01-02" }}" class="text-body-secondary">{{ $.Date.Format $.Site.Params.time_format_blog  }}</time>
	</div>
	<header class="td-article-meta">
		{{ partial "taxonomy-terms-article-wrapper.html" . -}}
		{{ if partial "reading-time-enabled.html" . -}}
			{{ partial "reading-time.html" . -}}
		{{ end -}}
	</header>
	{{ if eq $featured "wash" }}</div>
	{{ end }}{{ .Render "_td-content-after-header" -}}
	{{ partial "content/render.html" . }}
	{{ partial "page-end.html" . -}}
</div>
