{{- /* Caption a code/data example without creating a document heading or ToC entry. */ -}}
{{- partial "book/shortcode-params.html" (dict "shortcode" . "allowed" (slice "num" "id" "caption" "class")) -}}
{{- if not (isset .Params "caption") }}{{ errorf "shortcode %q requires parameter caption at %s" .Name .Position }}{{ end -}}
{{- $caption := .Get "caption" -}}
{{- if ne (printf "%T" $caption) "string" }}{{ errorf "shortcode %q: caption must be a string at %s" .Name .Position }}{{ end -}}
{{- $caption = strings.TrimSpace $caption -}}
{{- if not $caption }}{{ errorf "shortcode %q: caption must not be empty at %s" .Name .Position }}{{ end -}}
{{- $num := "" -}}
{{- if isset .Params "num" }}{{ $num = partial "book/validate-num.html" (dict "name" .Name "value" (.Get "num") "position" .Position) }}{{ end -}}
{{- $id := "" -}}
{{- if isset .Params "id" -}}
  {{- $id = partial "book/validate-id.html" (dict "name" .Name "value" (.Get "id") "position" .Position) -}}
{{- else if $num -}}
  {{- $id = printf "example-%s" $num -}}
{{- end -}}
{{- $class := "" -}}
{{- if isset .Params "class" }}{{ $class = strings.TrimSpace (.Get "class") }}{{ end -}}
{{- if and $class (not (findRE `^[A-Za-z0-9_ -]+$` $class)) }}{{ errorf "shortcode %q: class contains unsafe characters at %s" .Name .Position }}{{ end -}}
{{- $inner := strings.TrimSpace (printf "%s" .InnerDeindent) -}}
{{- if $inner }}{{ errorf "shortcode %q does not accept inner content at %s" .Name .Position }}{{ end -}}
{{- $label := T "book_example" -}}
{{- if $num }}{{ $label = printf "%s %s" $label $num }}{{ end -}}
{{- $format := lower (.Page.Store.Get "tdOutputFormat" | default "html") -}}
{{- if in (slice "markdown" "rss") $format -}}
  {{- printf "**%s.** %s" $label (partial "content/markdown-escape.html" $caption) | safeHTML -}}
{{- else -}}
<div{{ with $id }} id="{{ . }}"{{ end }} class="td-book-example{{ with $class }} {{ . }}{{ end }}">
  <span class="td-book-example__label">{{ $label }}.</span>
  <span class="td-book-example__caption">{{ $caption }}</span>
</div>
{{- end -}}
