{{- /* Register one validated field with the enclosing fields collector. */ -}}
{{- partial "content/shortcode-params.html" (dict "shortcode" . "allowed" (slice "name" "type" "required" "default")) -}}
{{- with .Parent -}}
  {{- if ne $.Parent.Name "fields" -}}
    {{- errorf "shortcode %q must be enclosed by fields, not %q, at %s" $.Name $.Parent.Name $.Position -}}
  {{- end -}}
{{- else -}}
  {{- errorf "shortcode %q must be enclosed by fields at %s" $.Name $.Position -}}
{{- end -}}

{{- if not (and .IsNamedParams (isset .Params "name")) -}}
  {{- errorf "shortcode %q requires parameter name at %s" .Name .Position -}}
{{- end -}}
{{- $nameParam := .Get "name" -}}
{{- if ne (printf "%T" $nameParam) "string" -}}
  {{- errorf "shortcode %q: name must be a string at %s" .Name .Position -}}
{{- end -}}
{{- $fieldName := strings.TrimSpace $nameParam -}}
{{- if not $fieldName -}}
  {{- errorf "shortcode %q: name must not be empty at %s" .Name .Position -}}
{{- end -}}

{{- $fieldType := "" -}}
{{- if and .IsNamedParams (isset .Params "type") -}}
  {{- $typeParam := .Get "type" -}}
  {{- if ne (printf "%T" $typeParam) "string" -}}
    {{- errorf "shortcode %q: type must be a string at %s" .Name .Position -}}
  {{- end -}}
  {{- $fieldType = strings.TrimSpace $typeParam -}}
  {{- if not $fieldType -}}
    {{- errorf "shortcode %q: type must not be empty at %s" .Name .Position -}}
  {{- end -}}
{{- end -}}

{{- $required := false -}}
{{- if and .IsNamedParams (isset .Params "required") -}}
  {{- $requiredParam := .Get "required" -}}
  {{- if ne (printf "%T" $requiredParam) "bool" -}}
    {{- errorf "shortcode %q: required must be boolean at %s" .Name .Position -}}
  {{- end -}}
  {{- $required = $requiredParam -}}
{{- end -}}

{{- $hasDefault := isset .Params "default" -}}
{{- $defaultDisplay := "" -}}
{{- if $hasDefault -}}
  {{- $defaultParam := .Get "default" -}}
  {{- $defaultType := printf "%T" $defaultParam -}}
  {{- $scalarTypes := slice
    "string" "bool" "int" "int8" "int16" "int32" "int64"
    "uint" "uint8" "uint16" "uint32" "uint64" "float32" "float64"
  -}}
  {{- if not (in $scalarTypes $defaultType) -}}
    {{- errorf "shortcode %q: default must be a scalar value at %s" .Name .Position -}}
  {{- end -}}
  {{- if and (eq $defaultType "string") (eq $defaultParam "") -}}
    {{- $defaultDisplay = `""` -}}
  {{- else -}}
    {{- $defaultDisplay = printf "%v" $defaultParam -}}
  {{- end -}}
{{- end -}}

{{- $description := strings.TrimSpace (printf "%s" .InnerDeindent) -}}
{{- if not $description -}}
  {{- errorf "shortcode %q requires a non-empty description at %s" .Name .Position -}}
{{- end -}}
{{- $entry := dict
  "name" $fieldName
  "type" $fieldType
  "required" $required
  "hasDefault" $hasDefault
  "default" $defaultDisplay
  "description" $description
  "position" .Position
-}}
{{- .Parent.Scratch.SetInMap "fieldEntries" (printf "%06d" .Ordinal) $entry -}}
