{{- /* Leaf FileTree entry with an optional validated link. */ -}}
{{- with .Parent -}}
  {{- if not (in (slice "filetree" "filetree/folder") $.Parent.Name) -}}
    {{- errorf "shortcode %q must be enclosed by filetree or filetree/folder, not %q, at %s" $.Name $.Parent.Name $.Position -}}
  {{- end -}}
{{- else -}}
  {{- errorf "shortcode %q must be enclosed by filetree or filetree/folder at %s" $.Name $.Position -}}
{{- end -}}
{{- $hasParams := false -}}
{{- with .Params }}{{ $hasParams = true }}{{ end -}}
{{- if and $hasParams (not .IsNamedParams) -}}
  {{- errorf "shortcode %q accepts named parameters only at %s" .Name .Position -}}
{{- end -}}
{{- $allowed := slice "name" "link" "icon" "color" "comment" "owner" "group" "mode" -}}
{{- range $name, $_ := .Params -}}
  {{- if not (in $allowed $name) -}}
    {{- errorf "shortcode %q: unsupported parameter %q at %s" $.Name $name $.Position -}}
  {{- end -}}
{{- end -}}
{{- if or (not $hasParams) (not (isset .Params "name")) -}}
  {{- errorf "shortcode %q requires parameter name at %s" .Name .Position -}}
{{- end -}}
{{- $nameParam := .Get "name" -}}
{{- if ne (printf "%T" $nameParam) "string" -}}
  {{- errorf "shortcode %q: name must be a string at %s" .Name .Position -}}
{{- end -}}
{{- $fileName := strings.TrimSpace $nameParam -}}
{{- if not $fileName -}}
  {{- errorf "shortcode %q: name must not be empty at %s" .Name .Position -}}
{{- end -}}

{{- $link := false -}}
{{- if isset .Params "link" -}}
  {{- $link = partial "content/url.html" (dict
    "name" .Name "parameter" "link" "position" .Position "value" (.Get "link")
  ) -}}
{{- end -}}
{{- $node := partial "content/filetree-node-params.html" . -}}
{{- $outputFormat := lower (.Page.Store.Get "tdOutputFormat" | default "html") -}}
{{- "<!--td-filetree-child:start-->" | safeHTML -}}
{{- if eq $outputFormat "markdown" -}}
  {{- $markdownName := partial "content/markdown-escape.html" $fileName -}}
  {{- $markdownSuffix := partial "content/filetree-markdown-suffix.html" $node -}}
  {{- if $link -}}
    {{- printf "- [%s](%s)%s" $markdownName $link.markdown $markdownSuffix | safeHTML -}}
  {{- else -}}
    {{- printf "- %s%s" $markdownName $markdownSuffix | safeHTML -}}
  {{- end -}}
{{- else -}}
<li class="td-filetree__item td-filetree__item--file">
  {{- partial "content/filetree-entry.html" (dict
    "kind" "file" "name" $fileName "link" $link "node" $node
  ) -}}
</li>
{{- end -}}
{{- "<!--td-filetree-child:end-->" | safeHTML -}}
