{{- /* Recursive folder entry. Native disclosure is limited to interactive HTML. */ -}}
{{- with .Parent -}}
  {{- if not (in (slice "filetree" "filetree/folder") $.Parent.Name) -}}
    {{- errorf "shortcode %q must be enclosed by filetree or filetree/folder, not %q, at %s" $.Name $.Parent.Name $.Position -}}
  {{- end -}}
{{- else -}}
  {{- errorf "shortcode %q must be enclosed by filetree or filetree/folder at %s" $.Name $.Position -}}
{{- end -}}
{{- $hasParams := false -}}
{{- with .Params }}{{ $hasParams = true }}{{ end -}}
{{- if and $hasParams (not .IsNamedParams) -}}
  {{- errorf "shortcode %q accepts named parameters only at %s" .Name .Position -}}
{{- end -}}
{{- $allowed := slice "name" "open" "icon" "color" "comment" "owner" "group" "mode" -}}
{{- range $name, $_ := .Params -}}
  {{- if not (in $allowed $name) -}}
    {{- errorf "shortcode %q: unsupported parameter %q at %s" $.Name $name $.Position -}}
  {{- end -}}
{{- end -}}
{{- if or (not $hasParams) (not (isset .Params "name")) -}}
  {{- errorf "shortcode %q requires parameter name at %s" .Name .Position -}}
{{- end -}}
{{- $nameParam := .Get "name" -}}
{{- if ne (printf "%T" $nameParam) "string" -}}
  {{- errorf "shortcode %q: name must be a string at %s" .Name .Position -}}
{{- end -}}
{{- $folderName := strings.TrimSpace $nameParam -}}
{{- if not $folderName -}}
  {{- errorf "shortcode %q: name must not be empty at %s" .Name .Position -}}
{{- end -}}

{{- $open := false -}}
{{- if isset .Params "open" -}}
  {{- $openParam := .Get "open" -}}
  {{- if ne (printf "%T" $openParam) "bool" -}}
    {{- errorf "shortcode %q: open must be boolean at %s" .Name .Position -}}
  {{- end -}}
  {{- $open = $openParam -}}
{{- end -}}
{{- $node := partial "content/filetree-node-params.html" . -}}
{{- $children := partial "content/filetree-children.html" (dict
  "source" .Inner "name" .Name "position" .Position
) -}}
{{- $outputFormat := lower (.Page.Store.Get "tdOutputFormat" | default "html") -}}

{{- "<!--td-filetree-child:start-->" | safeHTML -}}
{{- if eq $outputFormat "markdown" -}}
  {{- $markdownName := partial "content/markdown-escape.html" $folderName -}}
  {{- $markdownSuffix := partial "content/filetree-markdown-suffix.html" $node -}}
  {{- $markdown := printf "- %s/%s" $markdownName $markdownSuffix -}}
  {{- if $children -}}
    {{- $markdown = printf "%s\n%s" $markdown (partial "content/markdown-indent.html" $children) -}}
  {{- end -}}
  {{- $markdown | safeHTML -}}
{{- else if in (slice "print" "rss") $outputFormat -}}
<li class="td-filetree__item td-filetree__item--folder">
  {{- partial "content/filetree-entry.html" (dict
    "kind" "folder" "name" $folderName "node" $node
  ) -}}
  {{- if $children }}
  <ul class="td-filetree__list">{{ $children | safeHTML }}</ul>
  {{- end }}
</li>
{{- else -}}
<li class="td-filetree__item td-filetree__item--folder">
  <details class="td-filetree__details"{{ if $open }} open{{ end }}>
    <summary class="td-filetree__summary">
      {{- partial "content/filetree-entry.html" (dict
        "kind" "folder" "name" $folderName "node" $node "disclosure" true
      ) -}}
    </summary>
    {{- if $children }}
    <ul class="td-filetree__list">{{ $children | safeHTML }}</ul>
    {{- end }}
  </details>
</li>
{{- end -}}
{{- "<!--td-filetree-child:end-->" | safeHTML -}}
